<app-nav></app-nav>
<section>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/user">Home</a></li>
    <li><a routerLink="/user/login">User</a></li>
    <li><a routerLink="/user/register">Login</a></li>
    <li><a routerLink="/user/profile">profile</a></li>


    <li><a routerLink="/admin">Admin</a></li>
    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
    <li><a routerLink="/admin/settings">settings</a></li>
    <li><a routerLink="/admin/manage">manage users</a></li>
  </ul>
</section>

<router-outlet></router-outlet>